<!-- component -->
<div class="bg-white-400 h-screen w-screen">
    <div class="flex flex-col items-center flex-1 h-full justify-center px-4 sm:px-0">
        <div class="flex rounded-lg shadow-lg w-full sm:w-3/4 lg:w-1/2 bg-red-100-400 sm:mx-0 min-h-screen">
            <div class="flex flex-col w-full p-4">
                <div class="flex flex-col flex-1 justify-center mb-8">
                    <h1 class="text-4xl text-center font-thin">Producto</h1>
                    <div class="w-full mt-4">
                        <form class="form-horizontal w-3/4 mx-auto">
                            <div class="flex flex-col mt-4">
                                <label for="productName" class="text-sm">Nombre del producto</label>
                                <input id="productName" type="text" class="flex-grow h-8 px-2 border rounded border-grey-400"
                                    name="productName" placeholder="Nombre del producto">
                            </div>
                            <div class="flex flex-col mt-4">
                                <label for="productDescription" class="text-sm">Descripción del producto</label>
                                <textarea id="productDescription" class="flex-grow h-20 px-2 border rounded border-grey-400"
                                    name="productDescription" placeholder="Descripción del producto"></textarea>
                            </div>
                            <div class="flex flex-col mt-4">
                                <label for="productPrice" class="text-sm">Precio del producto</label>
                                <input id="productPrice" type="number" class="flex-grow h-8 px-2 rounded border border-grey-400"
                                    name="productPrice" placeholder="Precio del producto">
                            </div>
                            <div class="flex flex-col mt-4">
                                <label for="productImage" class="text-sm">URL de la imagen del producto</label>
                                <input id="productImage" type="text" class="flex-grow h-8 px-2 rounded border border-grey-400"
                                    name="productImage" placeholder="URL de la imagen del producto">
                            </div>
                            <div class="flex flex-col mt-4">
                                <label for="productStock" class="text-sm">Stock del producto</label>
                                <input id="productStock" type="number" class="flex-grow h-8 px-2 rounded border border-grey-400"
                                    name="productStock" placeholder="Stock del producto">
                            </div>
                            <div class="flex flex-col mt-4">
                                <label for="productType" class="text-sm">Tipo de producto</label>
                                <input id="productType" type="text" class="flex-grow h-8 px-2 rounded border border-grey-400"
                                    name="productType" placeholder="Tipo de producto">
                            </div>
                            <div class="flex flex-col mt-8">
                                <button type="submit"
                                    class="bg-blue-500 hover:bg-blue-700 text-white text-sm font-semibold py-2 px-4 rounded">
                                    Agregar Producto
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
