<!-- producto.component.html -->
<br>
<br>
<div class="bg-white-400 h-screen w-screen mt-14 mb-8">
    <div class="flex flex-col items-center flex-1 h-full justify-center px-4 sm:px-0">
        <div class="flex rounded-lg shadow-lg w-full sm:w-3/4 lg:w-1/2 bg-red-100-400 sm:mx-0 min-h-screen">
            <div class="flex flex-col w-full p-4">
                <div class="flex flex-col flex-1 justify-center mb-8">
                    <h1 class="text-4xl text-center font-thin">Producto</h1>
                    <div class="w-full mt-4">
                        <form class="form-horizontal w-3/4 mx-auto" (submit)="onSubmit()">
                            <div class="flex flex-col mt-4">
                                <label for="nombre" class="text-sm">Nombre del producto</label>
                                <input id="nombre" type="text" class="flex-grow h-8 px-2 border rounded border-grey-400"
                                    [(ngModel)]="form.nombre" name="nombre" placeholder="Nombre del producto">
                            </div>
                            <div class="flex flex-col mt-4">
                                <label for="descripcion" class="text-sm">Descripción del producto</label>
                                <textarea id="descripcion" class="flex-grow h-20 px-2 border rounded border-grey-400"
                                    [(ngModel)]="form.descripcion" name="descripcion"
                                    placeholder="Descripción del producto"></textarea>
                            </div>
                            <div class="flex flex-col mt-4">
                                <label for="precio" class="text-sm">precio del producto</label>
                                <input id="precio" type="number" class="flex-grow h-8 px-2 border rounded border-grey-400"
                                    [(ngModel)]="form.precio" name="precio" placeholder="Nombre del producto">
                            </div>
                            <div class="flex flex-col mt-4">
                                <label for="imagen" class="text-sm">imagen del producto</label>
                                <input id="imagen" type="text" class="flex-grow h-8 px-2 border rounded border-grey-400"
                                    [(ngModel)]="form.imagen" name="imagen" placeholder="Nombre del producto">
                            </div>
                            <div class="flex flex-col mt-4">
                                <label for="stock" class="text-sm">stock del producto</label>
                                <input id="stock" type="number" class="flex-grow h-8 px-2 border rounded border-grey-400"
                                    [(ngModel)]="form.stock" name="stock" placeholder="Nombre del producto">
                            </div>
                            <div class="flex flex-col mt-4">
                                <label for="tipo" class="text-sm">tipo del producto</label>
                                <input id="tipo" type="text" class="flex-grow h-8 px-2 border rounded border-grey-400"
                                    [(ngModel)]="form.tipo" name="tipo" placeholder="Nombre del producto">
                            </div>

                            <div class="flex flex-col mt-8">
                                <button type="submit"
                                    class="bg-blue-500 hover:bg-blue-700 text-white text-sm font-semibold py-2 px-4 rounded">
                                    Agregar Producto
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>