<div class="grid min-h-screen bg-white-900 py-10">
    <!-- Navbar (Si tienes un navbar) -->
    <nav class="bg-blue-500 text-white p-4">
        <!-- Contenido del navbar aquí -->
    </nav>

    <div class="grid min-h-screen place-items-center">
        <div class="gallery border-2 rounded m-5 bg-white" style="width:750px;">
            <div class="each-frame border-box flex-none h-full" title="Owl">
                <!-- title shows in top -->
                <!-- this is full editable area -->
                <div class="main flex w-full p-8">
                    <div class="sub w-4/6 my-auto">
                        <img class="w-full p-70 rounded-lg"
                            src="https://th.bing.com/th/id/R.d474e909d067f1efafb326feecf8b869?rik=ceTN8jubuEKp0w&pid=ImgRaw&r=0&sres=1&sresct=1" alt="">
                    </div>
                    
                    <div class="sub w-full my-auto">
                        <div class="head text-3xl font-bold mb-4">Kululu Handicrafts</div>
                        <div class="long-text text-lg p-4">
                            <!-- Agregamos p-4 para el relleno -->
                            Acerca de Xicotepéc Artesanal
                            Bienvenido a Xicotepéc Artesanal, tu destino en línea para explorar y adquirir las maravillosas
                            creaciones de nuestros talentosos artesanos locales en Xicotepéc de Juárez. En Xicotepéc
                            Artesanal,
                            creemos en la belleza de lo hecho a mano, en la importancia de la artesanía local y en el valor
                            de
                            apoyar a comunidades creativas.
                        </div>
                    </div>
                </div>
                <div class="text-lg p-4">
                    <div class="head text-3xl font-bold mb-4">Nuestra misión</div>
                    Nuestra misión es conectar a los amantes de las artesanías con las creaciones únicas y auténticas de
                    Xicotepéc de Juárez. Promover y preservar la rica herencia de la artesanía local, facilitar un mercado
                    en línea donde los artesanos locales puedan exhibir y vender sus productos.
                    <div class="head text-3xl font-bold mb-4">Contactanos</div>
                    Si tienes alguna pregunta, comentario o sugerencia, no dudes en ponerte en contacto con nuestro equipo
                    de soporte en [ artesniasgmail.com ]. Tu opinión es importante para nosotros y nos ayudará a
                    mejorar continuamente tu experiencia en Xicotepéc Artesanal.
                    Gracias por ser parte de nuestra comunidad y por apoyar a los artesanos locales de Xicotepéc de Juárez.
                    Atentamente,
                </div>
            </div>
        </div>
    </div>
</div>
